// base
$background-color: rgba(103, 96, 103, 0.3);

// navbar
$name-tag-color: #c4a0e3;
$link-tag-color: rgb(252, 143, 229);

//landing buttons
$github-color: #333;
$linkedin-color: #0a66c2;
$gmail-color-red: #ea4335;
$gmail-color-blue: #4285f4;
$gmail-color-green: #34a853;
$gmail-color-yellow: #fbbc05


