.tech-svg {
  width: 50px;
}

.bg-card {
  background-color: rgba(252, 143, 229, 0.3);
  backdrop-filter: blur(30px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.live-page-button {
  color: lighten(rgb(230, 184, 251), 15);
  background-color: rgb(200, 0, 255) ;
  &:hover {
    color: rgb(200, 0, 255);
    background-color: lighten(rgb(230, 184, 251), 10) ;

  }
}
