.container-link {
  display: flex !important;
  justify-content: end !important;
  margin-right: 15rem;
}

.nav-container {
    max-width: 100%;
}

.container-name {
  margin-left: 15rem;
}

.name-tag {
  color: #9841df !important;
  transition: color 0.1s ease-in-out;
  font-size: 1.7em;
  font-weight: bold;
}

.name-tag:hover {
  color: #c07bf8 !important;
}

.link-tag {
  color: rgb(178, 69, 156) !important;
  font-size: 1.3em;
  transition: all 0.1s ease-in-out;
}

.link-tag:hover {
    color: #E793BAff !important;

}
