.skills {
  background-color: #394152;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.pos-skills {
  position: relative;
}

.icon {
  font-size: 5em;
  margin: 0.05em auto;
}
