.skills {

  background-color: #394152;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.pos-skills {
  position: relative;
}

.icon {
  display: flex;
  font-size: 2.5em;
  margin: 0.05em auto;
}
