.container-landing {
  margin-top: 5rem;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.landing-image {
  transform: scale(0.85);
}

.img-col-lan {
  margin-right: 15rem;
}

.text-col-lan {
  padding-top: 13em;
  margin-left: 15rem;
  text-align: left;
}

.main-title {
  font-size: 2.4em;
  color: rgb(230, 184, 251);
}

.text-intro {
  font-size: 2.5em;
  color: rgb(200, 0, 255);
  font-weight: 700;
}

.name {
  color: blueviolet;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.contact-me {
  color: rgb(230, 184, 251);
  font-size: 1.5em;
}

.github-button {
  text-decoration: none;
  margin: 0 4px 0 0;
  padding: 0 1em 0 1em;
  border: solid rgb(190, 83, 209) 3px;
  border-radius: 5px;
  background-color: rgba(242, 171, 242, 0.3);
  backdrop-filter: blur(15px);
  color: rgb(59, 1, 97);
  display: flex;
  align-items: center;
  gap: 0.35em;
  font-weight: 500;
  transition: all 0.09s ease-in-out;
}

.github-button:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  color: rgb(36, 41, 46);
  border: solid rgb(36, 41, 46) 3px;
  background-color: rgba(182, 191, 202, 0.3);
}

.linkedin-button {
  text-decoration: none;
  margin: 0 4px 0 4px;
  padding: 0.25em 1em 0.25em 1em;
  border: solid rgb(190, 83, 209) 3px;
  border-radius: 5px;
  background-color: rgba(242, 171, 242, 0.3);
  backdrop-filter: blur(15px);
  color: rgb(50, 5, 156);
  display: flex;
  align-items: center;
  gap: 0.35em;
  font-weight: 500;
  transition: all 0.09s ease-in-out;
}

.linkedin-button:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  color: rgb(219, 225, 232);
  border: solid rgb(219, 225, 232) 3px;
  background-color: rgba(49, 51, 53, 0.3);
}

.mail-button {
  text-decoration: none;
  margin: 0 0 0 4px;
  padding: 0 1em 0 1em;
  border: solid rgb(190, 83, 209) 3px;
  border-radius: 5px;
  background-color: rgba(242, 171, 242, 0.3);
  backdrop-filter: blur(15px);
  color: rgb(214, 2, 133);
  display: flex;
  align-items: center;
  
  font-weight: 500;
  transition: all 0.09s ease-in-out;
}

.g {
  padding-left: 0.35em;
}

.mail-button:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: solid rgb(199, 22, 16) 3px;
  background-color: rgba(62, 101, 207, 0.3);
}

.mail-button:hover .email-logo {
  color: rgb(199,22,16);
}

.mail-button:hover .g {
  color: rgb(62,101,207) ;
}

.mail-button:hover .m {
  color: rgb(199,22,16)
}

.mail-button:hover .a {
  color: rgb(242,166,12)
}

.mail-button:hover .i {
  color: rgb(62,101,207)
}

.mail-button:hover .l {
  color: rgb(8,133,27);
}
/*
rojo 199,22,16
azul 62,101,207
verde 8,133,27
amarillo 242,166,12
*/
