.about-me-row {
  margin: 0 !important
}

.img-col-abt {
  margin-right: 7em;
}

.text-col-abt {
  padding-top: 10em;
  margin-left: 12em;
  text-align: left;
}

.abt-description {
  font-size: 2.4em;
  color: white;
}