.image {
  width: 300px; 
  height: 300px;
}

.timeline-with-icons {
  border-left: 3px solid rgb(230, 184, 251);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;

  .experience-svg {
    width: 30px;
  }
}

.timeline-with-icons .timeline-item::after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -53px;
  background-color: transparent/*  hsl(217, 88.2%, 90%) */;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-about-me {
  color: lighten(rgb(230, 184, 251), 5);
  &:hover {
    color: darken($link-tag-color, 15) !important;
  }
  
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: rgb(200, 0, 255) !important;
  &:hover {
    color: lighten($link-tag-color, 5) !important;
  }
}


.mw-75 {
  max-width: 75%;
}





