.about-me-row {
  margin: 0 !important
}

.img-col-abt {
  margin-right: 7em;
}

.text-col-abt {
  padding-top: 10em;
  margin-left: 12em;
  text-align: left;
}

.abt-description {
  font-size: 1.5em;
  color: white;
  
}

.list-abt {
  list-style: none;
}

.list-abt > li {
  padding: 3px 0 3px 0;
}

.name-abt {
  color: rgb(119, 47, 207);
}

.bar-abt {
  background-color: rgb(94, 42, 153);
  width: 4px;
  border-radius: 1px;
}

.description-container {
  display: flex;
}

.icon-opt-abt {
  color: purple;
  padding-right: 10px;
}